version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    image: sivanyashop_frontend:latest
    container_name: sivanyashop_frontend
    ports:
      - "80:80"
    restart: unless-stopped
