# /src/docker-compose.yml
version: '3.8'
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sivanya_frontend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: sivanya_backend

  nginx:
    image: nginx:1.25-alpine
    container_name: sivanya_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/certbot:/var/www/certbot
    depends_on:
      - frontend
      - backend
